In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_excel('/content/Nasabah BSI.xlsx')

In [3]:
data

,No,Tanggal Buka Rekening,Kode Cabang,Jenis Tabungan,No. Rekening,No. Rekening Lama,Mt. Uang,Nama,Gender,Alamat,Saldo Awal,Mutasi Debit,Mutasi Kredit,Saldo Akhir,Kategori Saldo,Pekerjaan,Rekomendasi Program BSI
0,1,2022-06-30,ID0018158,BSI TABUNGAN EASY WADIAH,7200755027,EX2218188266589M,IDR,IBADURROHMAN,L,PD.AREN,0,0,100000,100000,<5 Juta,Karyawan Swasta,Tidak Direkomendasikan
1,2,2022-06-29,ID0018158,BSI TABUNGAN EASY WADIAH,7200583153,NaN,IDR,OBI MUHAMAD FURQON ALI,L,JL. PEKAUMAN NO. 28,0,0,100000,100000,<5 Juta,Mahasiswa / Pelajar,Tidak Direkomendasikan
2,3,2022-06-29,ID0018158,BSI TABUNGAN EASY WADIAH,7200596859,NaN,IDR,AULIA AHMAD NAFIS,L,JL GADING JUNTI ASRI BLOK U 2 NO 31,0,0,0,0,<5 Juta,Mahasiswa / Pelajar,Tidak Direkomendasikan
3,4,2022-06-27,ID0018158,BSI TABUNGAN EASY WADIAH,7200333785,NaN,IDR,ABIR,L,JL HR RUSUNA SAID,1223424,384550,0,838874,<5 Juta,Mahasiswa / Pelajar,Tidak Direkomendasikan
4,5,2022-06-27,ID0018158,BSI TABUNGAN EASY WADIAH,7200328827,NaN,IDR,IBADURRAHMAN SYABANI MAULANA,L,JL.TERATAI D 12/14 PONDOK SAFARI IN,487500,0,0,487500,<5 Juta,Wiraswasta,Tidak Direkomendasikan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11437,11438,2011-01-18,ID0018158,BSI TABUNGAN EASY WADIAH,1002652931,NaN,IDR,ARIF MULYONO,P,JL PANTI ASUHAN KP CEGER,478328,0,0,478328,<5 Juta,Wiraswasta,Tidak Direkomendasikan
11438,11439,2011-01-18,ID0018158,BSI TABUNGAN EASY WADIAH,1002657003,NaN,IDR,APRIDA LINDA YANTI,P,JL KARYAWAN II,101246,0,0,101246,<5 Juta,Wiraswasta,Tidak Direkomendasikan
11439,11440,2011-01-17,ID0018158,BSI TABUNGAN EASY WADIAH,1002645625,NaN,IDR,ADHI HARIYANTO,P,GRB CLUSTER CATALINA BLOK G 30,54268,0,0,54268,<5 Juta,Karyawan Swasta,Tidak Direkomendasikan
11440,11441,2011-01-17,ID0018158,BSI TABUNGAN EASY WADIAH,1002649213,NaN,IDR,NURHAMIDAH,P,WISMAMAS BLOK E1 N0 08,50001,0,0,50001,<5 Juta,Karyawan Swasta,Tidak Direkomendasikan
11441,11442,2011-01-17,ID0018158,BSI TABUNGAN EASY WADIAH,1002646419,NaN,IDR,NOVI YUDIAWATI,P,BENTENG WARUDOYONG BENTENG KIDUL NO,0,0,0,0,<5 Juta,Ibu Rumah Tangga,Tidak Direkomendasikan

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11442 entries, 0 to 11441
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   No                       11442 non-null  int64
 1   Tanggal Buka Rekening    11442 non-null  datetime64[ns]
 2   Kode Cabang              11442 non-null  object
 3   Jenis Tabungan           11442 non-null  object
 4   No. Rekening             11442 non-null  int64
 5   No. Rekening Lama        3397 non-null   object
 6   Mt. Uang                 11442 non-null  object
 7   Nama                     11442 non-null  object
 8   Gender                   11442 non-null  object
 9   Alamat                   11442 non-null  object
 10  Saldo Awal               11442 non-null  object
 11  Mutasi Debit             11442 non-null  int64
 12  Mutasi Kredit            11442 non-null  int64
 13  Saldo Akhir              11442 non-null  int64
 14  Kategori Saldo           11442 non-null  object
 15  Pekerjaan                11442 non-null  object
 16  Rekomendasi Program BSI  11442 non-null  object
dtypes: datetime64[ns](1), int64(5), object(11)
memory usage: 1.5+ MB

In [5]:
data.columns

Index(['No', 'Tanggal Buka Rekening', 'Kode Cabang', 'Jenis Tabungan',
       'No. Rekening', 'No. Rekening Lama', 'Mt. Uang', 'Nama', 'Gender',
       'Alamat', 'Saldo Awal', 'Mutasi Debit', 'Mutasi Kredit', 'Saldo Akhir',
       'Kategori Saldo', 'Pekerjaan', 'Rekomendasi Program BSI'],
      dtype='object')

In [6]:
data.isnull()

,No,Tanggal Buka Rekening,Kode Cabang,Jenis Tabungan,No. Rekening,No. Rekening Lama,Mt. Uang,Nama,Gender,Alamat,Saldo Awal,Mutasi Debit,Mutasi Kredit,Saldo Akhir,Kategori Saldo,Pekerjaan,Rekomendasi Program BSI
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11437,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
11438,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
11439,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
11440,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
11441,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False

In [7]:
data.isnull().sum()

No                            0
Tanggal Buka Rekening         0
Kode Cabang                   0
Jenis Tabungan                0
No. Rekening                  0
No. Rekening Lama          8045
Mt. Uang                      0
Nama                          0
Gender                        0
Alamat                        0
Saldo Awal                    0
Mutasi Debit                  0
Mutasi Kredit                 0
Saldo Akhir                   0
Kategori Saldo                0
Pekerjaan                     0
Rekomendasi Program BSI       0
dtype: int64

In [8]:
remove=['No','Tanggal Buka Rekening','Kode Cabang','Jenis Tabungan','Nama','No. Rekening','No. Rekening Lama','Alamat','Saldo Awal','Mutasi Debit','Mutasi Kredit','Saldo Akhir']

In [9]:
data.drop(remove,axis=1, inplace=True)

In [10]:
data

,Mt. Uang,Gender,Kategori Saldo,Pekerjaan,Rekomendasi Program BSI
0,IDR,L,<5 Juta,Karyawan Swasta,Tidak Direkomendasikan
1,IDR,L,<5 Juta,Mahasiswa / Pelajar,Tidak Direkomendasikan
2,IDR,L,<5 Juta,Mahasiswa / Pelajar,Tidak Direkomendasikan
3,IDR,L,<5 Juta,Mahasiswa / Pelajar,Tidak Direkomendasikan
4,IDR,L,<5 Juta,Wiraswasta,Tidak Direkomendasikan
...,...,...,...,...,...
11437,IDR,P,<5 Juta,Wiraswasta,Tidak Direkomendasikan
11438,IDR,P,<5 Juta,Wiraswasta,Tidak Direkomendasikan
11439,IDR,P,<5 Juta,Karyawan Swasta,Tidak Direkomendasikan
11440,IDR,P,<5 Juta,Karyawan Swasta,Tidak Direkomendasikan
11441,IDR,P,<5 Juta,Ibu Rumah Tangga,Tidak Direkomendasikan

In [11]:
data.to_excel('BSI.xlsx')